body {

  margin: 0px;
  background-color: rgb(241, 226, 226);
}
ul {
  list-style-type: none;
}
.class1 {
  text-align: center;
  color: rgb(61, 14, 105);
  font-size: 65px;
}
.textcolor {
  color: rgb(228, 177, 177);
  list-style-type:circle;
}
#contanier {
  width: 100%;
  height: auto;
}
#logo {
  margin: auto;
  width:fit-content ;
  padding: 10px;
  border-radius: 10px
  /* display: block; */
  
}
#text {
  background-color: blueviolet;
  color: white;
  margin: auto;
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  font-size: 24px;
}
#footer {
  margin: 2rem;
  padding: 2rem;
  text-align: center;
  font-size: 1rem;
}
#download {
  text-decoration: none;
  color: black;
  border: 1px solid darkorange;
  padding: 4px;
  margin: 2px 3px;
  border-radius: 10px;
  background-color: darkorange;
}
#link {
  text-decoration: none;
  color: black;
  padding: 2px;
  margin: 2px;
  border-radius: 7px;
  background-color: rgb(243, 212, 212);
}
